/*****************************************************************************/
/* General styles
/*****************************************************************************/
html
{
	overflow-y: scroll;
}

.error
{
	font-size: 48pt;
	color: red;
	text-align: center;
}

h1
{
	text-align: center;
	text-transform: uppercase;
}

/* Customize container */
@media (min-width: 768px) 
{
	.container
	{
		max-width: 730px;
	}
}

/* begin sticky footer */
html, body, .container { height: 100%; }

div.page, div.home-page { min-height: 100%; }

div.page-content
{
	overflow: auto;
	padding-bottom: 2.5em; /* must be same height as the footer */
}

footer
{
	padding: 0.5em 0;
	border-top: 4px double #ccc;
	text-align: center;
	position: relative;
	margin-top: -2.5em; /* negative value of footer height */
	height: 2.5em;
	clear: both;
}

/*Opera Fix for sticky footer*/
body:before
{
	content:"";
	height:100%;
	float:left;
	width:0;
	margin-top:-32767px;/
}

/* end sticky footer */

a:link, :visited
{
	color: #9C8A6A;
	text-decoration: none;
}
a:hover, a:active
{
	color: #3E372B;
	text-decoration: underline;
}

p, article, .page-nav, li
{
	font-size: 14pt;
	line-height: 1.5em;
	color: #444;
}

p, article, .page-nav
{
	margin-bottom: 1.75em;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 
{
	font-family: "minion-pro-1","minion-pro-2","62.5% palatino","times new roman",serif;
}

/*****************************************************************************/
/* Page Header
/*****************************************************************************/
header
{
	padding-top: 1em;
	color: #999;
}

header a:link, header :visited
{
	color: #999;
}

header a:hover, header a:active
{
	color: #303030;
	text-decoration: underline;
}

header > ul
{
	margin: 0.75em auto;
	border-top: 1px solid #EAEAEA;
	border-bottom: 1px solid #EAEAEA;
	text-transform: uppercase;
	font-size: 1.5em;
	background: #FBFBFB;
}

header ul
{
	list-style: none;
	padding: 0;
	text-align: center;
}

header li
{
	display: inline;
	margin: 0 1ex;
}

header li ul
{
	display: inline;
	margin-left: 1ex;
}

header li ul li
{
	margin: 0 0.25ex;
}

header li ul:before
{
	content: "(";
}
header li ul:after
{
	content: ")";
}

@media screen
{
	header > a
	{
		display: block;
		position: relative;
		margin: 0 auto;
		width: 200px;
		height: 200px;
		text-indent: -9999px;
		background-image: url(/images/WalkerCodeRangerBadge.png);
	}
}

/*****************************************************************************/
/* Posts
/*****************************************************************************/
article
{
	margin-top: 2em;
	border-top: 1px solid #ddd;
}

article > .pub-line
{
	text-align: center;
}
article > .pub-line .published
{
	display: inline-block;
	position: relative;
	margin: 0 auto;
	top: -1em;
	padding: 0 1ex;
	font-family: "helvetica neue", helvetica, arial;
	font-size: 12pt;
	color: #999;
	background: #FFF;
}

article h1
{
	color: #444;
	text-transform: none;
}

article h1 a:link, article h1 :visited
{
	color: #444;
}

article .byline
{
	text-align: center;
	font-size: 1.2em;
	color: #999;
	margin-bottom: 1em;
}

article .content
{
	margin-top: 1em;
}

article .meta
{
	color: #999;
}

article .meta .pub-line, article .meta .topic-line, article .meta .no-comments
{
	text-transform: uppercase;
}

article .meta .published, article .meta .topics
{
	text-transform: none;
}

article .meta .no-comments
{
	margin-top: 0.5em;
	text-align: center;
}

article .meta .comments
{
	text-align: center;
}

.page-nav
{
	border-top: 1px solid #ddd;
	padding: 1em 0;
}

.page-nav .previous
{
	display: block;
	float: left;
}

.page-nav .next
{
	display: block;
	float: right;
}

/*****************************************************************************/
/* Blog
/*****************************************************************************/

#blog > h1
{
	display: none;
}

#blog article .byline
{
	display: none;
}

.page-nav .older
{
	display: block;
	float: left;
}

.page-nav .newer
{
	display: block;
	float: right;
}

/*****************************************************************************/
/* Topics
/*****************************************************************************/
#topics
{
	margin-bottom: 1.75em;
}

#topics ul
{
	display: block;
	padding: 0;
	width: 45ex;
	margin: 0 auto;
	list-style: none;
}

#topics ul li
{
	border-bottom: 1px solid #efefef;
}
#topics li .count
{
	display: block;
	float: right;
	margin-left: 1ex;
}

/*****************************************************************************/
/* Archives
/*****************************************************************************/
#archive
{
	margin: 0 5em;
	margin-bottom: 1.75em;
}

/*****************************************************************************/
/* About Me
/*****************************************************************************/
#about-me img
{
	float: right;
	margin-left: 1ex;
}

section#find-me
{
	width: 387px;
	float: right;
	clear: right;
}

section#find-me h3
{
	text-align: center;
}

section#find-me li
{
	display: inline;
	margin: 0 10px 0 50px;
}

/*****************************************************************************/
/* Code Etc
/*****************************************************************************/

/* standard */
.post pre {
  border: 1px solid #ddd;
  background-color: #eef;
  padding: 0 .4em;
}

.post code {
  border: 1px solid #ddd;
  background-color: #eef;
  padding: 0 .2em;
}

.post pre code {
  border: none;
}

/* terminal */
.post pre.terminal {
  border: 1px solid #000;
  background-color: #333;
  color: #FFF;
}

.post pre.terminal code {
  background-color: #333;
}
