---
layout: master
title: Walker Code Ranger
sitemap:
  priority: 0.5
---
<div class="page" id="home-page">
	{% include header.html %}
	<div class="page-content">
		<section id="find-me">
			<h3>Find Me On</h3>
			<ul class="fa-ul">
				<li>
                    <a href="/blog/" class="internal">
                    <span class="fa-li">
                        <span class="fa-stack wcr-badge">
                            <i class="fa-regular fa-circle fa-stack-2x"></i>
                            <i class="fa-solid fa-star fa-stack-1x"></i>
                        </span>
                    </span>
					Walker Code Ranger Blog</a></li>
				<li><a href="http://feeds.WalkerCodeRanger.com/WalkerCodeRangerBlog" target="_blank"><i class="fa-li fa-solid fa-rss fa-lg"></i> Subscribe to Walker Code Ranger Blog</a></li>
				<li><a href="https://github.com/WalkerCodeRanger"><i class="fa-li fa-brands fa-github fa-lg"></i> GitHub</a></li>
				<li><a href="https://www.linkedin.com/in/WalkerCodeRanger"><i class="fa-li fa-brands fa-linkedin fa-lg"></i> Linked In</a></li>
                <li><a href="https://x.com/WalkerCodeRangr"><i class="fa-li fa-brands fa-x-twitter fa-lg"></i> X.com</a></li>
			</ul>
		</section>
	</div>
</div>
{% include footer.html %}
