---
layout: master
title: Walker Code Ranger
sitemap:
  priority: 0.5
---
<div class="page" id="home-page">
	{% include header.html %}
	<div class="page-content">
		<section id="follow-me">
			<h3>Follow Me On</h3>
			<ul class="fa-ul">
				<li>
					<span class="fa-stack wcr-badge">
						<i class="fa fa-circle-o fa-stack-2x"></i>
						<i class="fa fa-star fa-stack-1x fa-lg"></i>
					</span>
					<a href="/blog/" class="internal">Walker Code Ranger Blog</a> &nbsp;&nbsp;</li>
				<li><i class="fa-li fa fa-rss"></i><a href="http://feeds.WalkerCodeRanger.com/WalkerCodeRangerBlog" target="_blank">Subscribe to Walker Code Ranger Blog</a></li>
				<li><i class="fa-li fa fa-github fa-lg"></i><a href="https://github.com/WalkerCodeRanger">GitHub</a></li>
				<li><i class="fa-li fa fa-twitter fa-lg"></i><a href="https://twitter.com/WalkerCodeRangr">Twitter</a></li>
				<li><i class="fa-li fa fa-linkedin fa-lg"></i><a href="http://www.linkedin.com/in/WalkerCodeRanger">Linked In</a></li>
			</ul>
		</section>
	</div>
</div>
{% include footer.html %}
