---
layout: page
title: Walker Code Ranger Blog
---
{% for post in paginator.posts %}
<section class="post">
	<div class="meta">
		<span class="published">{{ post.date | date: "%B %-d, %Y" }}</span>
	</div>
	<h1><a href="{{ post.url }}">{{ post.title }}</a></h1>
	<div class="content>
		{{ post.content }}
	</div>
</section>
{% endfor %}
<div class="pagination">
	{% if paginator.next_page %}
		<a href="{{ paginator.next_page_path }}" class="older">« Older</a>
	{% endif %}
	{% if paginator.previous_page == 1 %}
		<a href="/blog" class="newer">Newer »</a>
	{% elsif paginator.previous_page %}
		<a href="{{ paginator.previous_page_path }}" class="newer">Newer »</a>
	{% endif %}
</div>