---
layout: page
---
{% capture year %}{{page.year}}{% endcapture %}
<section id="year{{page.year}}" class="blog-year">
	<h1>{{page.year}}</h1>
{% for post in site.posts  %}
	{% capture this_year %}{{ post.date | date: "%Y" }}{% endcapture %}
	{% if this_year == year %}
		{% capture this_month %}{{ post.date | date: "%B" }}{% endcapture %}
		{% capture this_month_num %}{{ post.date | date: "%m" }}{% endcapture %}
		{% capture next_year %}{{ post.previous.date | date: "%Y" }}{% endcapture %}
		{% capture next_month %}{{ post.previous.date | date: "%B" }}{% endcapture %}
		{% capture next_month_num %}{{ post.previous.date | date: "%m" }}{% endcapture %}

		{% if forloop.first %}
			<section class="month">
				<h2><a href="/blog/{{year}}/{{this_month_num}}/">{{this_month}}</a></h2>
				<ul>
		{% endif %}

					<li><a href="{{post.url}}">{{post.title}}</a></li>

		{% if this_month != next_month and this_year == next_year %}
				</ul>
			</section>
			<section class="month">
				<h2><a href="/blog/{{next_year}}/{{next_month_num}}/">{{next_month}}</a></h2>
				<ul>
		{% endif %}
	{% endif %}
	{% if forloop.last %}
			</ul>
		</section>
	{% endif %}
{% endfor %}
</section>